go 1.21

use (
	.

	// logger formatters
	./loggers/logrus

	// recovery middlewares
	./recovery/gin

	// examples
	./examples/log
	./examples/slog
	./examples/logrus
	./examples/sources
	./examples/panic
	./examples/segfault
	./examples/zerolog
)
