go 1.22

toolchain go1.23.1

use (
	.

	// examples
	./examples/log
	./examples/logrus
	./examples/panic
	./examples/segfault
	./examples/slog
	./examples/sources
	./examples/zerolog

	// logger formatters
	./loggers/logrus

	// recovery middlewares
	./recovery/gin
)
