name: Tests

on:
  push:
    tags:
    branches:
  pull_request:

jobs:

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go:
          - '1.21'
          - '1.22'
          - '1.23'
          - '1.24'
          - '1.x'
    steps:
    - uses: actions/checkout@v5
      with:
        # we need control over the path, since stacktrace tests rely on it
        path: github.com/samber/oops

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}
        stable: false

    - name: Build
      working-directory: ./github.com/samber/oops
      run: make build

    - name: Test
      working-directory: ./github.com/samber/oops
      run: make test

    - name: Test
      working-directory: ./github.com/samber/oops
      run: make coverage

    - name: Codecov
      uses: codecov/codecov-action@v5
      with:
        working-directory: ./github.com/samber/oops
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./cover.out
        flags: unittests
        verbose: true
      if: matrix.go == '1.21'
